/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.wall {
  background-image: url("/images/wall.png");
  background-size: conver;
  color: #fff;
  display: grid;
  grid-gap: 1%;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 1%;
}

.wall::after {
  background-color: rgba(0, 0, 0, 0.75);
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.brick {
  background-color: #232730;
  border-radius: .5em;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.brick--no-style {
  background-color: transparent;
}

.image {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spotify {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

.spotify::after,
.spotify__background {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -2em;
}

.spotify::after {
  background-color: rgba(0, 0, 0, 0.75);
}

.spotify__background {
  background-position: center;
  -webkit-filter: blur(0.5em);
          filter: blur(0.5em);
}

.spotify__content {
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.spotify__artist,
.spotify__name {
  display: block;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.spotify__artist {
  font-size: 2em;
}

.spotify__name {
  font-size: 3em;
}

.youtube,
.youtube > iframe {
  height: 100%;
  width: 100%;
}

